@import url(https://fonts.googleapis.com/css?family=Gudea);

div#bod{
    font-family: Gudea;
  -webkit-background-size: cover;
  background-size: cover;
}
/* pozicija ikonica za chat, profil i linkove*/
label#chat_one i[class^='icon-'] , label#chat_one i[class*='icon-']{
    display: block;
    padding: 14px 0;
}
/* ne koristi se nigde
a:hover i[class^='icon-'] , a:hover i[class*='icon-']{
    color : #837D7D;
}
*/

a#chat_a:hover {
    opacity: 0.7;
}
div#chat_container{
    width: 402px;
    margin: 40px auto;
    position: relative;
    border: 1px solid #CFCFCF;
    overflow: hidden;
    background-color: #fff;
    border-radius: 7px;
}
/* pozadina followers, following*/
div#chat_badboy{
    width: 0;
    height: 0;
    clear: both;
}
/* cover slika*/
div#chat_bg-image{
    width: 402px;
    height: 157px;
    background-image: url('../img/1.jpg');
    position: relative;
    border-bottom: 1px solid #38393A;
}

h3#chat_h3 {
    display: block;
    position: absolute;
    text-shadow : 0 -1px 2px #000;
    left: 10px;
    top: 14px;
    font-size : 16px;
    color : #F9F7F6;
    font-weight: normal;
}
h3#chat_h3_1 {
    display: block;
    position: absolute;
    text-shadow : 0 -1px 2px #000;
    left: 10px;
    top: 35px;
    font-size : 16px;
    color : #F9F7F6;
    font-weight: normal;
}
/*followe follower, following, chat, profile i linkovi*/
div#chat_followe{
    background : -webkit-linear-gradient(rgb(112, 114, 119) 14%, rgb(101, 98, 98) 37%, rgb(80, 80, 81) 62%, rgb(65, 68, 67) 83%);
    background : -moz-linear-gradient(rgb(112, 114, 119) 14%, rgb(101, 98, 98) 37%, rgb(80, 80, 81) 62%, rgb(65, 68, 67) 83%);
    border-bottom: 1px solid #18191A;
}

div#chat_followe li#chat_li{
	position: relative;
    float: left;
	width: 200px;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
}

div#chat_followe li#chat_li:nth-child(1){
    border-right: 1px solid #2D3234;
}

div#chat_followe a#chat_a{
    display: block;
    padding : 10px 0;
    text-decoration: none;
    color: #F5F5F5;
}

div#chat_followe span{
    display: block;
    text-align: center;
}
/*broj follower/following*/
span#chat_number{
    font-size: 20px;
    text-shadow: 0 -1px 2px #000;
}
/*text follower/following*/
span#chat_followe{
    text-shadow: 0 -1px 2px #000;
    font-size: 15px;
}
/*profilna*/
div#chat_image{
    width: 120px;
    height: 120px;
    position: absolute;
    background: #F7F9F9;
    border: 1px solid #211410;
    top: 89px;
    left: 140px;
    border-radius: 50%;
	background-size: 100% 100%;
	background-image: url('http://i.cubeupload.com/Cocek1.png');
}
/*
div#chat_image:before{
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
	background-image: url('http://i.cubeupload.com/Cocek1.png');
	
}*/
/* useless, dodaje neku senku u gornjem desnom uglu
.image:after{
    content: '';
    position: absolute;
    width: 110px;
    height: 65px;
    border-radius: 90px 90px 0 0;
    background: rgba(255, 255, 255, 0.22);
    left: 29px;
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
}
*/
/* chat, profile i link, pozicija i hover*/
label#chat_one{
    display: inline-block;
    width: 134px;
    height: 52px;
    text-align: center;
    margin: 0 -2px;
    text-decoration: none;
    color : #9B9E8D;
    font-size: 22px;
    box-shadow: 0 2px 3px 0px #D8D7D7;
    position: relative;
    background: #fff;
    z-index: 1;
    -webkit-transition : all .25s ease;
    -moz-transition : all .25s ease;
}

label#chat_one:hover{
    color: #1a7391;
}
/* strelica koja pokazuje sta je izabrano od chat, profile i linkova*/
div#chat_all:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 15px 0px 15px;
    border-color: rgb(255, 255, 255) rgba(255, 0, 0, 0) rgb(27, 169, 236) rgba(0, 0, 255, 0);
    left: 52px;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
/* div koji cuva sadrzaj chat-a, profila, linkova*/
div#chat_all{
    width: 1208px;
	 background : -webkit-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
    background : -moz-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
}

div#chat_chat{
    float: left;
    position: relative;
    width: 403px;
}

div#chat_chat div#chat_show-message{
    background : -webkit-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
    background : -moz-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 30px;
	height: 230px;
}
/*mesto za kucanje poruka*/
div#chat_chat div#chat_type-text{
    background : -webkit-linear-gradient(rgb(251, 251, 254) 18%, rgb(250, 251, 253) 51%, rgb(251, 251, 252) 78%);
    background : -moz-linear-gradient(rgb(251, 251, 254) 18%, rgb(250, 251, 253) 51%, rgb(251, 251, 252) 78%);
    padding-bottom: 13px;
}
/*za kucanje poruke*/
input#chat_input[type='text']{
    border: 1px solid #CED3D9;
    margin: 13px 0 0 28px;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    width: 235px;
    color : #A0A0A0;
}

button[type='submit']{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: -webkit-linear-gradient(rgb(32, 199, 127) 21%, rgb(30, 180, 115) 52%, rgb(28, 160, 101) 79%);
    background: -moz-linear-gradient(rgb(32, 199, 127) 21%, rgb(30, 180, 115) 52%, rgb(28, 160, 101) 79%);
    background: -ms-linear-gradient(rgb(32, 199, 127) 21%, rgb(30, 180, 115) 52%, rgb(28, 160, 101) 79%);
    box-shadow: inset 0 0 2px 1px #DDD7D7;
    border: 1px solid #A0A0A0;
    padding: 2px 22px 10px 20px;
    margin: 0px 0 0 25px;
    border-radius: 4px;
}

button[type='submit']:hover{
    cursor: pointer;
}

button[type='submit']:hover #i{
    color : #fff;
}
/* pozicija mog i prijateljevog texta*/
div#chat_friend{    
    float: left;
    margin: 30px 0 0 15px;
}

div#chat_me{
    float: right;
    margin : 20px 15px 0 0;
}
/* pozicija moje i prijateljeve slike*/
div#chat_friend img , div#chat_me img{
    border-radius: 2px;
} 

div#chat_friend img{
    float: left;
    margin: 10px 0 0 7px;
}

div#chat_me img{
    float: right;
    margin: 10px 7px 0 ;
}
/* pozicija moje i prijateljeve poruke*/
div#chat_friend div#chat_message{
    border : 1px solid #E2E2E2;
    margin: 2px 0 0 55px;
    padding: 10px;
    background: #FDFCF5;
    border-radius: 6px;
    width: 267px;
    position: relative;
}

div#chat_me div#chat_message{
    border: 1px solid #BFE3EE;
    margin: 2px 51px 0 0;
    padding: 10px;
    background: #DCEAF7;
    border-radius: 6px;
    position: relative;
    width: 267px;
}
/* chat okvir*/
div#chat_friend p , div#chat_me p{
    font-size: 14px;
	margin: 0;
}

div#chat_me p{
    color : #6AA0F0;
}

div#chat_friend p{
    color : #AEB0A4;
}
/*submit dugme, posalji poruku*/
#i{
    font-size: 25px;
    color: #E8E8E8;
    display: block;
    margin-top: 4px;
    -webkit-transition : all .25s ease;
    -moz-transition : all .25s ease;
}

label#chat_one:hover{
    cursor: pointer;
}

input[type='radio']{
    display: none;
}
/* boja izabrane strane*/
input[type='radio']:checked + label#chat_one{
    color: #1a7391;
}

input[type='radio']#chat_one:checked ~ div#chat_all{
    margin-left: 0px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}
/*Profil i linkovi*/
div#chat_Description , div#chat_Link{
    width:402px;
    height:282px;
    float:left;
    padding: 10px 0;
    background : -webkit-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
    background : -moz-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
}

div#chat_Description  p {
    margin : 60px 0;
    text-align: center;
    line-height: 30px;
    color: #535252;
    font-size: 18px;
}

input[type='radio']#chat_two:checked  ~  div#chat_all{
    margin-left: -403px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}

input[type='radio']#chat_two:checked ~  div#chat_all:before{
    left: 183px;
}

input[type='radio']#chat_three:checked  ~  div#chat_all{
    margin-left: -805px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}

input[type='radio']#chat_three:checked ~  div#chat_all:before{
    left: 319px;
}

div#chat_menu{
    width: 350px;
    height: inherit;
    margin: 0 auto ;
}

ul#chat_ul{
    width: inherit;
    height: inherit;
    list-style: none;
	margin: 0;
	padding: 0;
}

div#chat_menu li#chat_li{
    width: inherit;
    border-bottom : 1px solid rgb(235, 235, 235);
}

div#chat_menu li#chat_li:nth-child(1){
    margin-top: 67px;
}

div#chat_menu li#chat_li:last-child{
    border-bottom: 0;
}

div#chat_Link a{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color : #4B4E43;
    font-size: 18px;
    text-align: center;
    text-shadow : 0 0 2px #4F5144;
    opacity: .7;
}

div#chat_Link a:hover{
    text-shadow : 0 0 0;
    opacity: 1;
}